@import url('https://fonts.googleapis.com/css2?family=Baskervville+SC&family=Merienda:wght@300..900&family=Sevillana&display=swap');

:root {
    --color-primary: #428bca; /* Azul tradicional do autismo */
    --color-secondary: #3498db; /* Azul mais claro */
    --color-tertiary: #2ecc71; /* Verde */
    --color-text: #fff;
    --color-error:#ff5f5f;
}

body { 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    font-family: "Baskervville SC", serif;
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    min-height: 100vh; 
    margin: 0;
    padding: 0;
    position: relative; 
}

body::before {
    content: '';
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('img/img.png') no-repeat center center;
    background-size: cover;
    z-index: -1;
    opacity: 0.3; 
}

/* Estiliza os títulos h1 */
h1 {
    font-size: 2.5rem; 
    color: var(--color-text); 
    text-align: center; 
    letter-spacing: 0.4rem; 
    background: var(--color-primary); 
    border-radius: 10rem; 
    padding: 1rem;
    margin-bottom: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

/* Estiliza as seções da página */
section {
    display: flex; 
    flex-direction: column;
    align-items: center; 
    margin-bottom: 3rem; 
}

/* Estiliza os inputs dentro das seções */
section input {
    width: 30rem; 
    border: none; 
    padding: 1rem; 
    border-radius: 1.5rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    box-sizing: border-box;
}

/* Estiliza os botões dentro das seções */
section button {
    padding: 0.8rem 1.2rem;
    border: none; 
    border-radius: 1.5rem; 
    background-color: var(--color-tertiary);
    color: var(--color-text); 
    font-size: 1rem; 
    cursor: pointer; 
}

/* Adiciona efeito hover ao botão de pesquisa */
section button:hover {
    background-color: var(--color-secondary); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

/* Estiliza a caixa de resultados da pesquisa */
.resultados-pesquisa {
    width: 60rem;
    height: 46vh;
    overflow-y: auto;
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 0.6rem; 
}

/* Estiliza cada item de resultado */
.item-resultado {
    background: var(--color-secondary); 
    color: var(--color-text);
    border-radius: 0.6rem; 
    padding: 1rem;
    margin-bottom: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.mensagem-erro {
    background: var(--color-error); 
    color: var(--color-text);
    border-radius: 0.6rem; 
    padding: 1rem;
    margin-bottom: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    text-align: center;
}

/* Adiciona um espaçamento no topo da mensagem de erro */
.mensagem-erro p {
    margin: 0;
    font-size: 1rem;
}

/* Estiliza os títulos dentro dos itens de resultado */
.item-resultado h2 {
    font-size: 1.5rem; 
    color: var(--color-text);
}

/* Estiliza os links dentro dos itens de resultado */
.item-resultado a {
    text-decoration: none;
    color: var(--color-text);
}

/* Estiliza os links quando são passados o mouse sobre */
.item-resultado a:hover {
    text-decoration: underline;
    background-color: var(--color-secondary);
}

/* Estiliza a descrição meta dentro dos itens de resultado */
.descricao-meta {
    color: var(--color-text); 
    margin: 0.5rem 0; 
}

.img2 {
    width: 20%;
}

/* Estiliza o rodapé da página */
footer {
    background-color: var(--color-tertiary);
    color: var(--color-text); 
    text-align: center; 
    padding: 0; 
    width: 100%; 
    position: fixed;
    bottom: 0; 
    font-size: 1rem; 
}

@media (max-width: 768px) {
    h1 {
        font-size: 2rem;
        letter-spacing: 0.2rem;
    }

    section input {
        width: 20rem;
        padding: 0.8rem;
    }

    .resultados-pesquisa {
        width: 25rem;
        height: 40vh;
    }

    .item-resultado h2 {
        font-size: 1rem;
    }

    .img2 {
        width: 40vh;
    }
}

/* Responsividade para celulares */
@media (max-width: 480px) {
    h1 {
        font-size: 1.5rem; 
        letter-spacing: 0.1rem; 
    }

    section input {
        width: 17rem;
    }

    section button {
        padding: 0.6rem 1rem;
        font-size: 0.9rem;
    }

    .resultados-pesquisa {
        width: 90%; 
        height: 50vh; 
    }

    .item-resultado h2 {
        font-size: 1.1rem; 
    }

    footer {
        font-size: 0.8rem; 
    }
}
